body {
    font-family: 'Raleway', sans-serif;
}

#headline {
    padding: 0.8em;
    background-image: url(../img/background.png);
    background-size: cover;
}

#headline img {
    max-width: 200px;
    height:auto;
    
}

.imagemerda {
    max-width: 400px;
    height:auto;
    
}

@media (min-width: 600px) {
    body {
        font-size:20px;
    }
}