/* fonts */
@import url(http://fonts.googleapis.com/css?family=Balthazar);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:200);

html {
  min-height: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  min-height: 100%;
  height: 100%;
  /*text format*/
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-rendering: optimizeLegibility;
  margin:0px;
}
#headline {
    background: url(../img/pantone2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:90%;
}

#headcont {
    margin:50px;
}

#headline h1 {
    color: #ececec;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Balthazar', serif;
}

#headline h2 {
    color: #ececec;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Open Sans', sans-serif;
}

#headline img {
    width:200px;
    height:auto;
}

#incipit {
    background-color:rgba(230,230,230,0.5);
}

.titlez {
    font-size:48px;
}

#portfolio img,
#partner img,
#azienda img,
#logo
{
    width:300px;
    height:auto;    
}

h1,h2 {
    text-transform:uppercase;
}

#menu-nav .navbar-brand {
    text-transform:uppercase;
}

#map_canvas {
    height: 400px;
}

#footer{
    background-color:#333;
    color:white;
    height:40px;
}

#headline, #azienda,
#portfolio, #galleria, 
#partner, #contatti {
    border-bottom: 3px solid #383838;
    
}

#azienda,
#portfolio,
#partner {
    padding-top:80px;
    padding-bottom:80px;
}

#contatti {
    padding-top:80px;
}

#headline {
    padding-top:30px;
    padding-bottom:30px;
}


@media (min-width: 600px) {
    body {
        font-size:20px;
    }
    #headline h1 {
        font-size: 70px;
    }
    #headline h2 {
        font-size: 50px;
    }
    #headline img {
        width:500px;
        height:auto;
    }
    .titlez {
        font-size:68px;
    }
    #azienda img {
        width: 460px;
        height:auto;
    }
}

